name: CI - Build & Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    # use the self-hosted runner you just registered
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'maven'

      - name: Run Maven tests (Karate, unit tests)
        run: mvn -B -Dgatling.skip=true test

      - name: Build Spring Boot jar
        run: mvn -B -DskipTests -Dgatling.skip=true package

      - name: Build Docker image
        run: docker build -t springboot-crud:${{ github.sha }} .
