name: CI - Build & Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  contents: read
  packages: write

jobs:
  build-and-test:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'maven'

      # ✅ TESTS ON H2
      - name: Run Maven tests (Karate, unit tests)
        run: mvn -B -Dspring.profiles.active=test -Dgatling.skip=true test

      # ✅ PROD BUILD
      - name: Build Spring Boot jar
        run: mvn -B -DskipTests -Dspring.profiles.active=prod -Dgatling.skip=true package

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker image
        run: |
          IMAGE_NAME=ghcr.io/hrishabh6/karate-scala_learning/springboot-crud
          TAG=${{ github.sha }}
          docker build -t $IMAGE_NAME:$TAG .
          docker tag $IMAGE_NAME:$TAG $IMAGE_NAME:latest

      - name: Push Docker image to GHCR
        run: |
          IMAGE_NAME=ghcr.io/hrishabh6/karate-scala_learning/springboot-crud
          docker push $IMAGE_NAME:${{ github.sha }}
          docker push $IMAGE_NAME:latest
